$black: #1e1c1c;
$light-bg: #eff2f9;
$dark-bg: #10141e;
$white: #fdfbfb;
$blue: #338bff;
$dark-blue:#054aa4; 
$purple: #3f0393;
$grey: #8290aa;
$neutral: #eff2f9;
$backside: #e7eaf4;

$linkedin: #0077b5;
$youtube: #ff3d00;
$pinterest: #cd1f28;
$instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
$facebook: #3b5998;
