@import "./normalize";
@import "./components/all";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Nunito";
  src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
}

@mixin button {
  background-color: $blue;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $dark-blue;
  }
  border: none;
  border-radius: 5px;
  font-weight: 800;
  font-size: 18px;
}

.sm-text {
  font-size: 12px;
}

.app {
  font-family: "Nunito", sans-serif;

  .home {
    .section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    background-color: $light-bg;
    button {
      @include button;
      padding: 12px 26px;
    }
    h2 {
      font-weight: 800;
      font-size: 40px;
      line-height: 1;
    }

    .description {
      font-size: 18px;
    }

    .intro {
      text-align: center;
      padding-top: 120px;
      margin: 0 auto;
      gap: 20px;
      .title {
        font-size: 13px;
        font-weight: 700;
        padding: 20px 10px 0;
        color: $purple;
      }
      h2 {
        max-width: 725px;
      }
      .description {
        max-width: 600px;
        font-size: 20px;
      }
      .button {
        @include button;
        width: 240px;
        height: 60px;
      }
      h4 {
        font-weight: 400;
        font-size: 14px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: -10px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: rgb(9, 69, 9);
          animation: flicker 1s infinite;
        }

        @keyframes flicker {
          0%,
          100% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
        }
      }
      .sliding-img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 750px;
      }
    }
    .logos-wrapper {
      background-color: $white;
      border-top: 1px solid rgb(0, 0, 0, 0.1);
      border-bottom: 1px solid rgb(0, 0, 0, 0.1);

      .logos {
        margin: 0 auto;
        width: 750px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 130px;
          filter: grayscale(100%);
          opacity: 0.5;
          &:nth-child(1) {
            transform: translateX(-10px);
          }
          &:nth-child(2) {
            transform: translateY(4px);
          }
          &:nth-child(3) {
            transform: translateY(2px);
          }
          &:nth-child(4) {
            transform: translate(12px, 6px);
          }
          &:nth-child(5) {
            transform: translateX(10px);
          }
        }
      }
    }

    .reviews {
      height: 100vh;
      background-color: $white;
      h2 {
        text-align: center;
      }
      .review-wrap {
        display: flex;
        align-items: flex-start;
        padding: 80px 0;

        .overall {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: column;
          width: 270px;
          h4 {
            font-size: 24px;
            font-weight: 600;
          }
          .source {
            display: flex;
            align-items: center;
            padding-top: 20px;
          }
          .sm-text {
            font-size: 12px;
          }
        }
        .detailed-wrapper {
          .swiper {
            width: 850px;
            height: 260px;
          }
          .swiper-horizontal > .swiper-scrollbar,
          .swiper-scrollbar.swiper-scrollbar-horizontal {
            transform: scaleX(0.8) translateX(80px);
            bottom: var(--swiper-scrollbar-bottom, 22px);
          }
          .swiper-scrollbar-drag {
            background: $blue !important;
          }
          .detailed {
            flex: 3;
            display: flex;
            justify-content: center;
            flex-direction: column;
            // gap: 50px;

            .individual {
              width: 230px;

              .review {
                .stars {
                  width: 20px;
                }
                .short-desc {
                  padding-bottom: 5px;
                  text-overflow: ellipsis;
                  width: 250px;
                  overflow: hidden;
                  white-space: nowrap;
                }
                .long-desc {
                  display: -webkit-box;
                  -webkit-line-clamp: 4; // количество строк
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }
                .bottom-info {
                  padding-top: 10px;
                }
              }
            }
          }
          .scroll {
            display: flex;
            align-items: center;

            gap: 20px;

            .button-wrapper {
              display: flex;
              button {
                width: 10px;
                height: 50px;
                border-radius: 50%;
                border: none;
                background-color: $light-bg;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: scale(0.8);
                i {
                  color: rgb(0, 0, 0, 0.4);
                }
                &.back {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }

    .callToAction {
      z-index: 6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 120px 180px;
      height: 100vh;
      gap: 60px;
      background-color: $light-bg;
      .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 500px;

        button {
          align-self: flex-start;
        }
      }

      img {
        width: 500px;
      }
    }

    .templates {
      background-color: $dark-bg;
      width: 100%;
      height: 120vh;
      overflow: hidden;

      .template-wrapper {
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
        padding-top: 60px;
        h2:first-of-type {
          max-width: 400px;
        }

        .carousel {
          height: 202px;
          padding: 32px 0;
          position: relative;
          &-slide {
            width: 500px;
            img {
              border-radius: 20px;
              padding-top: 16px;
            }
          }
        }

        h2,
        h3 {
          color: $white;
        }
        p {
          color: $grey;

          &.description {
            padding-top: 20px;
          }
        }
        h3 {
          font-size: 20px !important;
        }
        :root {
          --primary: #6a59ff;
          --white: #ffffff;
          --bg: #f5f5f5;
        }

        .carousel-wrap {
          .container {
            max-width: 124rem;
            margin: 0 auto;
          }

          .heading {
            padding: 1rem 0;
            font-size: 3.5rem;
            text-align: center;
          }

          .swiper_container {
            height: 52rem;
            padding: 2rem 0;
          }

          .swiper-wrapper {
            transform: translate3d(-2838px, 0px, 0px);
          }

          .swiper-slide {
            width: 37rem;
            height: 42rem;
            text-align: center;
            p {
              margin-bottom: 20px;
            }
          }
          .swiper-slide:not(.swiper-slide-active) {
            h3,
            p {
              visibility: hidden;
            }
          }

          .swiper-slide img {
            width: 35rem;
            position: relative;
            border-radius: 0.5rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; // object-fit: cover;
          }

          .swiper-slide-shadow-left,
          .swiper-slide-shadow-right {
            display: none;
          }

          .slider-controller {
            position: absolute;
            bottom: 65%;
            right: calc(50% - 19.5rem);
            display: flex;
            width: 39rem;
            align-items: center;
            margin: 0 auto;
            justify-content: space-between;

            .slider-arrow {
              background: $blue;
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
              i {
                font-size: 1rem;
                color: $white;
              }

              &::after {
                content: "";
              }
            }
          }

          .swiper-pagination {
            position: relative;
            width: 15rem !important;
            bottom: 1rem;

            .swiper-pagination-bullet {
              filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
            }

            .swiper-pagination-bullet-active {
              background: var(--primary);
            }
          }
        }
      }
    }

    .instructions {
      margin-top: 170px !important;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid rgb(0, 0, 0, 0.3);

      .description {
        padding: 20px 0;
        max-width: 550px;
      }
      h2 {
        max-width: 700px;
      }

      .mySwiper {
        margin-top: 60px;
        height: 550px;
        width: 800px;
        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
          top: 0px;
        }

        .swiper-pagination {
          position: absolute;
          top: 0px;
          margin: 0 auto;
          width: 100% !important;
          display: flex;
          justify-content: space-between;
        }

        .swiper-pagination-bullet {
          flex: 1;
          width: auto;
          height: 30px;
          text-align: center;
          line-height: 30px;
          font-size: 12px;
          color: #000;
          background-color: rgb(240, 243, 250);

          // background: rgba(0, 0, 0, 0.2);
        }
        .swiper-pagination-bullet-active {
          opacity: 1 !important;
          background: #fff !important;
          .progress {
            position: absolute;
            background-color: $blue;
            border-radius: 5px;
            height: 3px;
            top: 0;
            left: 0;
            animation-name: progress;
            animation-play-state: running;
            animation-duration: 5.5s;
            animation-timing-function: linear;
            animation-iteration-count: 1;

            &.paused {
              animation-play-state: paused;
            }
          }
        }

        .step-box {
          text-align: start;
          flex: 1;
          display: flex;
          background-color: rgb(240, 243, 250);
          border-bottom-left-radius: 68px;
          border-top-right-radius: 45px;
          gap: 10px;
          flex-direction: column;
          justify-content: center;
          height: 70px;
          padding: 0 20px;
          opacity: 0.5;
          h4 {
            font-size: 20px;
          }
          .time-bar {
            position: relative;
            height: 3px;
            border-radius: 5px;
            width: 100%;
            background-color: rgb(0, 0, 0, 0.1);
          }
        }

        @keyframes progress {
          from {
            width: 0%;
          }
          to {
            width: 100%;
          }
        }

        .content-box {
          background-color: #fff;
          height: 350px;
          padding: 100px 50px 20px;
          display: flex;
          overflow: hidden;

          .text-wrapper {
            text-align: start;
            flex: 1;
            h4 {
              font-size: 23px;
              line-height: 0;
              font-weight: 800;
              min-width: 400px;
              color: $purple;
            }
          }
          .image {
            flex: 1;

            img {
              width: 400px;
              transform: translate(-10%, -15%);
            }
          }
        }
      }
    }

    .join {
      height: 60vh;
      margin: 0 auto;
      text-align: center;
      background-color: $white;

      h1 {
        max-width: 650px;
        line-height: 66px;

        font-weight: 900;
        font-size: 4vw;
        color: $blue;

        mark {
          background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffe536);
          margin: -2px -6px;
          padding: 2px 6px;
          color: $blue;
        }
      }
      .description {
        margin: 25px;
        font-size: 16px;
      }
    }

    .footer {
      background-color: $dark-bg;
      color: $white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      .top {
        margin: 0 auto;
        display: flex;
        gap: 150px;
        padding: 70px 0;
        .social-media {
          width: 200px;
          font-size: 18px;
          font-weight: 700;

          .icon-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            span {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $dark-bg;
              filter: brightness(190%);
              transition: all 0.2s ease-in-out;
              &.linkedin {
                &:hover {
                  background-color: $linkedin;
                  filter: brightness(100%);
                }
              }
              &.pinterest {
                &:hover {
                  background-color: $pinterest;
                  filter: brightness(100%);
                }
              }
              &.instagram {
                &:hover {
                  background: $instagram;
                  filter: brightness(100%);
                }
              }
              &.facebook {
                &:hover {
                  background-color: $facebook;
                  filter: brightness(100%);
                }
              }
            }
          }
        }
        .categories {
          display: flex;
          .category {
            width: 200px;
            li {
              padding: 5px 0;
              cursor: pointer;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
      p {
        color: $white;
      }
      .title {
        text-transform: uppercase;
        color: #39444e;
        font-size: 13px;
        font-weight: 700;
      }
      .bottom {
        text-align: center;
        position: relative;
        span {
          color: $white;
          img {
            width: 20px;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
        .copyright {
          color: #39444e;
          padding: 10px;
        }
        .verified {
          position: absolute;
          left: 150px;
          top: -15px;
        }
      }
    }

    .card-container {
      position: relative;
      perspective: 8000px;
      :nth-child(1) {
        animation-delay: 1s;
      }
      :nth-child(2) {
        animation-delay: 7s;
      }
      :last-child {
        animation-delay: 9s;
      }

      .front,
      .back {
        position: absolute;
        width: 100px;
        height: 200px;
        backface-visibility: hidden;
      }

      .front {
        background-color: #f8f8f8;
        color: black;
        img {
          width: 100px;
          height: 200px;
        }
      }

      .back {
        background-color: $backside;
        transform: rotateY(180deg);
      }
    }
  }

  .resumes {
    color: black;
    padding: 100px 20px;
    margin: 0 auto;
    width: 75%;
    header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid $light-bg;
      align-items: baseline;
      h2 {
        font-weight: 700;
      }
      button {
        @include button;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 600;
        .plus-icon {
          padding-right: 10px;
        }
      }
    }
    main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: space-between;
      .resume-wrapper {
        display: flex;
        width: 600px;
        gap: 25px;
        padding: 50px 0;
        .preview-img {
          width: 150px;
          height: 200px;
          border-radius: 3px;
          border: 1px solid $light-bg;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .preview-i {
            font-size: 36px;
            opacity: 0.2;
            transition: all 0.2s ease-in;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .text-block {
          display: flex;
          max-width: 200px;
          flex-direction: column;
          justify-content: space-between;

          .top {
            h3 {
              font-weight: 600;
              cursor: pointer;
              text-transform: capitalize;
            }
            &.new {
              opacity: 0.6;
            }
          }
          .functionalities {
            li {
              padding-bottom: 10px;

              .func-i {
                color: $blue;
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  .resume {
    display: flex;
    background-color: $light-bg;
    width: 50%;
    height: 100%;
    position: relative;
    .return-back {
      width: 110px;
      display: flex;
      position: absolute;
      height: 30px;
      top: 20px;
      left: 130px;
      text-transform: uppercase;
      background-color: #8a91e0;
      color: #fff;
      border: none;
      padding: 10px;
      align-items: center;
      border-radius: 2px;
      font-weight: 800;
      font-size: 12px;
      margin: 0 auto;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #4e3cf3;
      }
      .return-i {
        padding-right: 25px;
      }
    }
    .forms {
      width: 50%;
      flex: 1;
      padding: 70px 30px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .form {
        background-color: #fff;
        position: relative;
        border-radius: 4px;
        padding: 30px;
        width: 450px;
        .drag-dots {
          img {
            width: 20px;
            height: 20px;
          }
          filter: invert(28%) sepia(32%) saturate(1452%) hue-rotate(228deg)
            brightness(100%) contrast(96%);
          position: absolute;
          left: 10px;
          top: 31px;
        }
        .header {
          display: flex;
          justify-content: space-between;
          .add-item {
            color: #6a59ff;
            font-size: 20px;
            cursor: pointer;
          }
        }

        h3 {
          color: $dark-purple;
          &.title {
            font-weight: 800;

            padding-bottom: 16px;
          }
        }
        .items {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .items-wrapper {
            display: flex;
            flex-direction: column;
            border: 2px solid rgb(243, 244, 255);
            border-radius: 4px;
            .item {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              user-select: none;
              border-radius: 4px;
              background-color: #f3f4ff;
              position: relative;
              &:hover .drag-dots {
                opacity: 0.3;
              }
              &:hover .trash-can {
                opacity: 0.1;
              }
              .drag-dots {
                position: absolute;
                left: -20px;
                top: 21px;
                transition: all 0.2s ease-in;
                opacity: 0;
              }
              .trash-can {
                position: absolute;
                right: -20px;
                top: 22px;
                opacity: 0;
                transition: all 0.3s ease-in;
              }
              .item-name {
                color: $dark-purple;
                font-weight: 800;
                user-select: none;
                padding: 20px 15px;
              }
              .chevron {
                font-size: 14px;
                color: rgba(37, 41, 94, 0.5);
                user-select: none;
                padding: 20px 15px;
              }
            }
          }
        }
      }
    }
    .display {
      flex: 1;
      width: 50%;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      flex-flow: column;
      background-color: rgb(101, 110, 131);
      color: #ffffff;
      user-select: none;
      justify-content: center;
      z-index: 0;
      .top-section {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        .toggle {
          background-color: #fff;
          display: flex;
          width: 400px;
          height: 40px;
          border-radius: 4px;
          padding: 8px;

          button {
            border: none;
            flex: 1;
            font-weight: 800;

            &.clear-resume {
              padding: 10px;
              color: red;
              display: flex;
              align-items: center;
              background-color: #fff;
              .clear-i {
                padding-right: 10px;
              }
            }
            &.load-resume {
              color: $dark-blue;
              background-color: rgba(0, 0, 0, 0.1);
              border-radius: 4px;
            }
          }
        }
        .button {
          @include button;
          font-weight: 600;
          font-size: 14px;
          padding: 10px;
          margin-left: 15px;
        }
      }
      .canva {
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        width: 241px;
        height: 340px;
        transform: scale(1.5);
        font-family: "EB Garamond", serif ;

        .resume-ctn {
          font-family: "EB Garamond", serif;
          font-size: 12px;

          .full-name {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 24px;

          }

          header {
            text-align: center;
            padding-bottom: 20px;
          }

          .header-section {
            display: flex;
            justify-content: center;
            gap: 10px;
          }

          .header-section p {
            position: relative;
          }

          .header-section p:not(:last-child)::after {
            content: "|";
            position: absolute;
            display: block;
            width: 1px;
            height: 100%;
            right: -2px;
            top: 0;
          }

          h4 {
            font-weight: bold;
            position: relative;
            padding: 4px 0;
          }

          h4:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.5px;
            bottom: 0;
            left: 0;
            background-color: black;
          }

          .flexbox {
            display: flex;
            justify-content: space-between;
          }

          .cursive {
            font-style: italic;
          }

          .resume-ul {
            list-style-type: circle;
            padding: 0 0 0 20px;
          }
          .resume-ctn li {
            padding: 0;
          }

          textarea,
          .description {
            white-space: pre-line;
          }
        }
      }
    }
  }
}

form {
  background-color: #fff;
  padding: 20px;
  padding: 0 15px 15px;
  .info-group span {
    display: flex;
    align-items: baseline;
    gap: 0.75rem;
  }

  .info-group h3,
  .collapsed-form-title {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 0 4px;
    color: $dark-purple;
  }

  .info-group .additional {
    font-size: 0.7rem;
    font-weight: 600;
    color: $dark-purple;
  }

  .info-group input,
  .info-group textarea {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.625rem;
    background-color: #f0f0f4;
    border-radius: 2px;
    border: none;
    width: 100%;
  }

  .flex-wrap {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
  }

  .header {
    font-size: 18px;
    font-weight: bold;
  }

  .ctn {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
  }

  .ctn + .ctn {
    margin-top: 32px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  button {
    padding: 8px 20px;
    border-radius: 2px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: inherit;
  }

  .white {
    border: 1px solid #6e6e6e;
    background-color: #fff;
  }

  .blue {
    border: none;
    color: #fff;
    background-color: #24a0ed;
  }

  button {
    outline: none;
    border: none;
    background-color: inherit;
  }
}
