@import "./normalize";
@import "./components/all";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@mixin button {
  background-color: $blue;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $dark-blue;
  }
  border: none;
  border-radius: 5px;
  font-weight: 800;
  font-size: 18px;
}

.app {
  font-family: "Nunito", sans-serif;

  .home {
    background-color: $light-bg;
    .main-content {
      text-align: center;
      padding-top: 120px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      gap: 20px;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 13px;
        font-weight: 700;
        padding: 20px 10px 0;
        color: #160134;
      }
      h2 {
        font-weight: 800;
        font-size: 40px;
        line-height: 1;
        max-width: 725px;
      }
      .description {
        max-width: 600px;
        font-size: 20px;
      }
      button {
        @include button;
        width: 240px;
        height: 60px;
      }
      h4 {
        // padding-top: 20px;
        font-weight: 400;
        font-size: 14px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 26px;
          left: -10px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: rgb(9, 69, 9);
          animation: flicker 1s infinite;
        }

        @keyframes flicker {
          0%,
          100% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
        }
      }
      img {
        width: 750px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    .logos {
        height: 80px;
        display: flex;
        // justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-top: 1px solid rgb(0, 0, 0, .1);
        border-bottom: 1px solid rgb(0, 0, 0, .1);
        img {
            height: 100px;
            width: 170px;
            filter: grayscale(100%);
            // &.forbes {
            //     height: 50px;
            // }
        }
    }
  }
}
